.DS_Store
venv
mlruns
__pycache__
*.pyc
*.pyo
*.pyd
*.log
*.sqlite
*.db
*.bak
*.tmp
*.swp
*.swo
.env
heart_disease_preprocessing_train.csv
heart_disease_preprocessing_test.csv
feature_importance.csv
confusion_matrix.png